.btn-light {
  background: #fff;
  color: #212529;

}

.btn-light:hover {
  color: $primary;
}


.btn-light i {
  color: rgb(157, 161, 167);
}

.btn-light:hover i {
  color: $primary;
}

//carousel
.carousel-caption {
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem 3rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.carousel-caption .movie-info {
  width: 45%;
}



.carousel-indicators {
  bottom: 0;
}

.section-slider #carousel_captions_1 .carousel-inner .carousel-item img {
  display: block;
  width: 100%;
  height: 30rem;
}

.section-popular-productions #carousel_captions_2 .carousel-inner .carousel-item img {
  width: 12rem;
  height: 12rem;
}

.section-latest-productions #carousel_captions_3 .carousel-inner .carousel-item img {
  width: 12rem;
  height: 12rem;
}
.section-drama-series #carousel_captions_4 .carousel-inner .carousel-item img {
  width: 12rem;
  height: 12rem;
}

#footer .container{
  height:10rem;
 
}

//detail cards

//.card{
  //margin-right:0.5rem;
//}

.card .btn{
 margin-top:1.5rem;
 margin-bottom:1rem;
}


.card-img-top{
  width:100%;
  height:134px;
}

.card-body{
  margin:0.5rem 0.25rem;
}

.nav-link{
  font-weight:700;
}

